@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
.menu {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.menu_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}

.navi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo .logo1 {
  color: #2196f3;
}
.logo h2 {
  margin: 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo a {
  text-decoration: none;
  color: #000000;
}

.nav {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav_item {
  display: inline;
}
.nav_item:not(:last-child) {
  margin-right: 46px;
}
.nav_item_link {
  text-decoration: none;
  color: #000000;
}
.nav a {
  text-decoration: none;
  color: #000000;
}
.nav a:hover, .nav a:focus {
  color: #2196f3;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.contact_item {
  display: inline-block;
}
.contact_item:not(:last-child) {
  margin-right: 30px;
}
.contact_item_link {
  text-decoration: none;
  color: #757575;
  fill: #757575;
}
.contact_item_link:hover, .contact_item_link:focus {
  color: #2196f3;
  fill: #2196f3;
}

/* sekcja pierwsza slider */
.slider {
  width: 100%;
  height: 600px;
  background: #2f303a url(../../images/slider.jpg) no-repeat center;
  position: relative;
  z-index: 3;
}
.slider:after {
  content: "";
  background: rgba(47, 48, 58, 0.4);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slider > * {
  position: relative;
  z-index: 10;
}
.slider .header {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider .header .title {
  width: 696px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.slider .header .button {
  width: 200px;
  height: 50px;
  margin: 0;
  margin-top: 30px;
  background-color: #2196f3;
  color: #fff;
  display: block;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.attributes {
  width: 100%;
  margin-top: 94px;
}
.attributes ul {
  display: flex;
  gap: 30px;
}
.attributes ul li {
  list-style: none;
}
.attributes ul li .attributes_list_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.attributes ul li .attributes_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
}
.attributes ul li .attributes_desc {
  width: 270px;
  text-align: justify;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.what_are_we_doing {
  width: 100%;
}
.what_are_we_doing .title_what_are_we_doing {
  font-weight: 700px;
  font-size: 35px;
  line-height: 1.17;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
}
.what_are_we_doing ul {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.what_are_we_doing li {
  list-style: none;
}

.team {
  width: 100%;
  background-color: #f5f4fa;
}
.team .our_team {
  justify-content: center;
  align-items: center;
}
.team .our_team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.team .our_team .person {
  display: flex;
  gap: 30px;
}
.team .our_team figure {
  margin: 0;
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: inline-block;
}
.team .our_team figure img {
  width: 270px;
}
.team .our_team figure figcaption .name {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .our_team figure figcaption .profession {
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.main_portfolio {
  width: 100%;
}
.main_portfolio .main_nav {
  display: flex;
  justify-content: center;
}
.main_portfolio .main_nav_portfolio li {
  display: inline;
}
.main_portfolio .main_nav_portfolio li:not(:last-child) {
  margin-right: 8px;
}
.main_portfolio .main_nav_portfolio li .button_portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  padding: 6px 15px;
  cursor: pointer;
}
.main_portfolio .main_nav_portfolio li .button_portfolio:hover, .main_portfolio .main_nav_portfolio li .button_portfolio:focus {
  background: #2196f3;
  color: #fff;
}
.main_portfolio .portfolio_list {
  margin-top: 50px;
}
.main_portfolio .portfolio_list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.main_portfolio .portfolio_list ul li {
  flex-basis: calc((100% - 90px) / 3);
}
.main_portfolio .portfolio_list_box {
  margin: 0;
  padding: 0;
}
.main_portfolio .portfolio_list_box img {
  display: block;
}
.main_portfolio .portfolio_list_box figcaption {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}
.main_portfolio .portfolio_list_box .box_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.main_portfolio .portfolio_list_box .box_information {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  width: 100%;
  height: 252px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}
.footer .contact_box {
  padding-top: 60px;
}
.footer .contact_box .logo {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer .contact_box .logo a {
  text-decoration: none;
  color: #fff;
}
.footer .contact_box .logo a .txt {
  color: #2196f3;
}
.footer .contact_box .footer_contact {
  margin-top: 20px;
  font-style: normal;
}
.footer .contact_box .footer_contact .item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer .contact_box .footer_contact .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .contact_box .footer_contact .address {
  color: #fff;
}
.footer .contact_box .footer_contact .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.our_clients {
  width: 100%;
}
.our_clients .title_our_clients {
  width: 200px;
  height: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our_clients ul {
  display: flex;
  gap: 30px;
}
.our_clients ul li {
  list-style: none;
}
.our_clients ul li .attributes_list_icon {
  dispaly: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

h2,
h4,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}/*# sourceMappingURL=main.css.map */