.footer {
  width: 100%;
  height: 252px;
  background-color: $backgroundColor;
  color: $contactColorFooter;
  &_left {
    display: flex;
    flex-direction: row;
  }

  .contact_box {
    padding-top: 60px;
    .logo {
      margin: 0;
      padding: 0;
      font-family: "Raleway";
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      a {
        text-decoration: none;
        .txt {
          color: $accentColor;
        }
        color: $contactLogoColor;
      }
    }
    .footer_contact {
      margin-top: 20px;
      font-style: normal;
      .item {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        &:not(:last-child) {
          margin-bottom: 9px;
        }
      }
      .address {
        color: $contactLogoColor;
      }
      .link {
        text-decoration: none;
        color: $contactColorFooter;
      }
    }
  }
  .social_card_footer {
    // padding-top: 16px;
    margin-left: 70px;
    &_title {
      padding-top: 72px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $contactLogoColor;
    }
    &_list {
      display: inline-flex;
      margin: 0;
      padding-top: 20px;
      width: 100%;
      &_element {
        display: inline-flex;

        &_icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          fill: $contactLogoColor;
          width: 44px;
          height: 44px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 50%;
          margin-right: 10px;
          &:hover,
          &:focus {
            border-radius: 50%;
            background: $accentColor;
            fill: $contactLogoColor;
          }
        }
      }
    }
  }
}
