.menu {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.menu_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}
.navi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  .logo1 {
    color: $accentColor;
  }
  h2 {
    margin: 0;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  a {
    text-decoration: none;
    color: $colorLink;
  }
}
.nav {
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &_item {
    display: inline;
    &:not(:last-child) {
      margin-right: 46px;
    }
    &_link {
      text-decoration: none;
      color: $colorLink;
    }
  }
  a {
    text-decoration: none;
    color: $colorLink;
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &_item {
    display: inline;
    &:not(:last-child) {
      margin: 50px;
    }
    &_link {
      text-decoration: none;
      color: $contactColorMain;
      &:hover,
      &:focus {
        color: $accentColor;
      }
    }
  }
}
