.menu {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid $colorBorderBotomHeader;
}

.menu_left {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
.navi {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}
.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  .logo1 {
    color: $accentColor;
  }
  h2 {
    margin: 0;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  a {
    text-decoration: none;
    color: $colorLink;
  }
}
.nav {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &_item {
    display: inline;
    &:not(:last-child) {
      margin-right: 46px;
    }
    &_link {
      text-decoration: none;
      color: $colorLink;
    }
  }
  a {
    text-decoration: none;
    color: $colorLink;
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.contact {
  display: flex;
  padding-left: 345px;

  &_item {
    &:not(:last-child) {
      margin-right: 30px;
    }
    &_link {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.02em;

      text-decoration: none;
      color: $contactColorMain;
      fill: $contactColorMain;

      &:hover,
      &:focus {
        color: $accentColor;
        fill: $accentColor;
      }
      svg {
        margin-right: 10px;
      }
    }
  }
}
