.our_clients {
  width: 100%;
  h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16em;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: $mainTextColor;
  }
  ul {
    display: flex;
    gap: 30px;
    li {
      list-style: none;

      .attributes_list_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid $colorIconClient;
        border-radius: 4px;
      }
    }
  }
}
