.our_clients {
  width: 100%;
  h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16em;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: $mainTextColor;
  }
  .clients_list {
    display: flex;
    gap: 30px;

    .client_list_logo {
      // list-style: none;
      display: flex;
      width: 170px;
      height: 92px;
      align-items: center;
      justify-content: center;
      fill: $colorIconClient;
      border: 1px solid $colorIconClient;
      border-radius: 4px;
      transition-property: border, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        border: 1px solid $accentColor;
        fill: $accentColor;
      }
    }
  }
}
