.main_portfolio {
  width: 100%;
  .main_nav {
    display: flex;
    justify-content: center;

    &_portfolio {
      li {
        display: inline;
        &:not(:last-child) {
          margin-right: 8px;
        }
        .button_portfolio {
          font-weight: 500;
          font-size: 16px;
          line-height: 1.6;
          text-align: center;
          letter-spacing: 0.03em;
          background: $backgroundColorTeam;
          border-radius: 4px;
          border: 0px;
          padding: 6px 22px;
          cursor: pointer;
          &:hover,
          &:focus {
            background: $accentColor;
            color: $contactLogoColor;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
              0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
  }
  .portfolio_list {
    margin-top: 50px;
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      li {
        flex-basis: calc((100% - 90px) / 3);
      }
    }
    // figure class="portfolio_list_box
    &_box {
      margin: 0;
      padding: 0;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
          0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }

      img {
        display: block;
      }
      figcaption {
        border-left: 1px solid $colorPortfolioFigc;
        border-bottom: 1px solid $colorPortfolioFigc;
        border-right: 1px solid $colorPortfolioFigc;
        background-color: #fff;
        padding: 20px 24px;
        position: relative;
        z-index: 3;
      }
      .box_title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $mainTextColor;
        z-index: 3;
      }
      .box_information {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: $contactColorMain;
        z-index: 3;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        // bottom: 110;
        width: 100%;
        height: 76%;
        background-color: $backgroundColorOverlay;
        transform: translatey(100%);
        transition: transform 250ms ease;
        z-index: 2;
      }
      .overlay > p {
        padding: (49px 45px 49px 24px);
        margin: 0;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: #ffffff;
        z-index: 2;
      }
      &:hover .overlay {
        transform: translateX(0);
      }
    }
  }
}
