/* sekcja pierwsza slider */
// .slider_bacground {
//   background: $bacgroundSlider;
//   background-image: url(../../images/slider.jpg);
//   width: 100%;
//   background-repeat: no-repeat;
//   background-position: center;
// }
.slider {
  width: 100%;
  height: 600px;
  background: $backgroundColor url(/images/slider.jpg) no-repeat center;
  position: relative;
  z-index: 3;
  &:after {
    content: "";
    background: rgba(47, 48, 58, 0.4);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  & > * {
    position: relative;
    z-index: 10;
  }

  .header {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      width: 696px;
      color: $contactLogoColor;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }
    .button {
      width: 200px;
      height: 50px;
      margin: 0;
      margin-top: 30px;
      background-color: $accentColor;
      color: $contactLogoColor;
      display: block;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 4px 4px $colorButtonSlider;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      cursor: pointer;
    }
  }
}
