/* sekcja pierwsze slider */
.slider {
  width: 100%;
  background-color: $backgroundColor;
  .header {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      width: 696px;
      color: $contactLogoColor;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
    .button {
      width: 200px;
      height: 50px;
      margin-top: 30px;
      background-color: $accentColor;
      color: $contactLogoColor;
      display: block;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 4px 4px $colorButtonSlider;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      cursor: pointer;
    }
  }
}
