.team {
  width: 100%;
  background-color: $backgroundColorTeam;
  .our_team {
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
      padding-bottom: 50px;
    }
    .person {
      display: flex;
      gap: 30px;
    }
    figure {
      // margin-top: 50px;
      margin: 0;
      width: 270px;
      // height: 368px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      display: inline-block;
      background-color: $contactLogoColor;
      img {
        width: 270px;
      }
      // poniższy zapis został zastąpiony gap: 30px;
      // &:not(:last-child) {
      //   margin-right: 30px;
      // }

      // &:not(:first-child) {
      //   margin-left: 0;
      // }
      // &:last-child {
      //   margin-right: 0;
      // }

      figcaption {
        padding-top: 30px;
        padding-bottom: 30px;
        .name {
          // padding-top: 30px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          letter-spacing: 0.03em;
        }
        .profession {
          padding-top: 10px;
          font-size: 16px;
          line-height: 1.18;
          text-align: center;
          letter-spacing: 0.03em;
          color: $contactColorMain;
        }
        .social_card {
          padding-top: 16px;
          &_list {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0 32px;
            width: 100%;
            &_element {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              &_icon {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: $contactLogoColor;
                fill: $colorIconClient;
                width: 44px;
                height: 44px;
                margin-right: 10px;
                transition-property: border-radius, background-color, fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

                &:hover,
                &:focus {
                  border-radius: 50%;
                  background: $accentColor;
                  fill: $contactLogoColor;
                }
              }
            }
          }
        }
      }
    }
  }
}
