.what_are_we_doing {
  width: 100%;
  .title_what_are_we_doing {
    font-weight: 700px;
    font-size: 35px;
    line-height: 1.17;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.03em;
  }
  ul {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  li {
    list-style: none;
    // display: inline;
    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }
}
