@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

$mainTextColor: #212121;
$accentColor: #2196f3;
$colorLink: #000000;
$backgroundColor: #2f303a;
$contactColorMain: #757575;
$contactColorFooter: rgba(255, 255, 255, 0.6);
$contactLogoColor: #fff;
$backgroundColorTeam: #f5f4fa;
$colorPortfolioFigc: #eeeeee;
$colorBorderBotom: #ececec;
$colorButtonSlider: rgba(0, 0, 0, 0.15);
